<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
    <property name="hibernate.connection.driver_class">org.gjt.mm.mysql.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://120.110.112.182:8082/iaaa?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">IAAA</property>
    <property name="hibernate.connection.password">IAAA</property>
    <property name="hibernate.hbm2ddl.auto">update</property>
    <mapping resource="tk/zater/CS/UserTable.hbm.xml"/>
    <mapping resource="tk/zater/CS/PointTable.hbm.xml"/>
    <mapping resource="tk/zater/CS/PlanTable.hbm.xml"/>
    <mapping resource="tk/zater/CS/MemoTable.hbm.xml"/>
    <mapping resource="tk/zater/CS/MonthTable.hbm.xml"/>
    <mapping resource="tk/zater/CS/LocationTable.hbm.xml"/>
    <mapping resource="tk/zater/CS/FoodTable.hbm.xml"/>
    <mapping resource="tk/zater/CS/AreaTable.hbm.xml"/>
    <mapping resource="tk/zater/CS/AnnexTable.hbm.xml"/>
    <mapping resource="tk/zater/CS/HotelTable.hbm.xml"/>
    <mapping resource="tk/zater/CS/UserLv.hbm.xml"/>
    <mapping resource="tk/zater/CS/plantype.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
